@font-face{
    font-family: "DinamoABCWhyte-Light";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Light-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Light-Trial.woff2") format("woff2");
    font-weight:light;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-LightItalic";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-LightItalic-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-LightItalic-Trial.woff2") format("woff2");
    font-weight:light;
    font-style:italic;
}

@font-face{
    font-family: "DinamoABCWhyte-Regular";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Regular-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Regular-Trial.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-RegularItalic";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-RegularItalic-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-RegularItalic-Trial.woff2") format("woff2");
    font-weight:normal;
    font-style:italic;
}

@font-face{
    font-family: "DinamoABCWhyte-Bold";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Bold-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Bold-Trial.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-BoldItalic";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-BoldItalic-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-BoldItalic-Trial.woff2") format("woff2");
    font-weight:bold;
    font-style:italic;
}

@font-face{
    font-family: "DinamoABCWhyte-Heavy";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Heavy-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-Heavy-Trial.woff2") format("woff2");
    font-weight:heavy;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-HeavyItalic";
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-HeavyItalic-Trial.woff") format("woff");
    src:url("../fonts/DinamoABCWhyte/ABCWhyte-HeavyItalic-Trial.woff2") format("woff2");
    font-weight:heavy;
    font-style:italic;
}

body{
    background-color: white;
    font-size: 0.95em;
    font-family: "DinamoABCWhyte-Regular";
    margin: 0.95em;
    color: #000000;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>☝️</text></svg>") 16 0, auto;
}

h1{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: bolder;
}

h2{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: bold;
}

h3{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: bold;
}

img{
    width: 100%;
    height: auto;
}

div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    top: 0;
    position: sticky;
}

.menu a:link{
    text-decoration: wavy underline;
    color: inherit;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🪩</text></svg>") 16 0, auto;
}

.menu a:hover{
    text-decoration: wavy underline;
    color: lime;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🪩</text></svg>") 16 0, auto;
}

a:link{
    text-decoration: underline;
    color: inherit;
}

a:visited{
    display: inline-block;
    color: inherit;
}

a:hover{
    color:#1b0fd7;
    text-decoration: dotted underline;
    /* font-family: "DinamoABCWhyte-Heavy"; */
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🔗</text></svg>") 16 0, auto;
}
  
a:active{
    color: #ff3000;
}

.things{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.box{
    padding: 0;
    margin-bottom: -0.5rem;
}

.box p{
    font-family: "DinamoABCWhyte-Light";
}

.box ul{
    font-family: "DinamoABCWhyte-Light";
}

#aboutme{
    margin-right: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#contact a:link{
    text-decoration: none;
    color: inherit;
}

#contact a:hover{
    color:#1b0fd7;
    text-decoration: dotted underline;
}

#contact a:visited{
    display: inline-block;
    color: inherit;
}

#contact a:active{
    color: #ff3000;
}

.picofme img{
    max-width: 30vh;
    margin-bottom: -2rem;
}

.halfhalf{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-right: 1rem;
}

/* .flex-container{
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
}

.flex-item-left{
    flex:30%;
}

.flex-item-right{
    flex:30%;
}

.flex-item-center{
    flex:30%;
} */

.row{
    display: flex;
    flex-wrap: wrap;
}

#typecontrastgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.twocolumngrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* styles for screens smaller than 800px wide */
@media screen and (max-width: 800px){
    .things{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    #aboutme{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .halfhalf{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }    
    .twocolumngrid{
        grid-template-columns: repeat(1, 1fr);
    }
}