@font-face{
    font-family: "DinamoABCWhyte-Light";
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Light-Trial.woff") format("woff");
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Light-Trial.woff2") format("woff2");
    font-weight:light;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-Regular";
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Regular-Trial.woff") format("woff");
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Regular-Trial.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "DinamoABCWhyte-Bold";
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Bold-Trial.woff") format("woff");
    src:url("../lab/fonts/DinamoABCWhyte/ABCWhyte-Bold-Trial.woff2") format("woff2");
    font-weight:bold;
    font-style:normal;
}

body{
    background-color: white;
    font-size: 0.95em;
    font-family: "DinamoABCWhyte-Regular", sans-serif;
    margin: 0.95em;
    color: #000000;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>☝️</text></svg>") 16 0, auto;
}

.header{
    margin-top: -0.95em;
    width: 97vw;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

.main-title{
    font-weight: bolder;
    text-align: left;
}

.main-title a:link{
    text-decoration: none;
}

.main-title a:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🏠</text></svg>") 16 0, auto;
}

.navigation{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: -0.9em;
    list-style-type: none;
    padding: 0;
    column-gap: 2em;
    right: 0;
}

.mobile-menu{
    opacity: 0;
    display: none;
    position: absolute;
    right: 0;
    z-index: 999;
    margin-right: 1em;
}

.mobile-navigation{
    background: #000000;
    margin-top: -0.95em;
    margin-left: -0.95em;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    display: none;
    z-index: 1;
    list-style-type: none;
}

.mobile-navigation li{
    margin-top: 0;
    z-index: 1;
}

.mobile-navigation a:link{
    text-decoration: none;
}

.mobile-navigation a:hover{
    color: #ffdf01;
}

.header.open .mobile-navigation{
    display: flex;
    position: absolute;
    background: #000000;
}


h1{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: bolder;
}

h2{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: bold;
}

h3{
    font-family: "DinamoABCWhyte-Bold";
    font-size: 0.95em;
    font-weight: normal;
}

img{
    max-width: 100%;
    height: auto;
}

div{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .menu{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.menu a:link{
    text-decoration: wavy underline ;
    color: inherit;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🪩</text></svg>") 16 0, auto;
}

.menu a:hover{
    text-decoration: wavy underline ;
    color: lime;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🪩</text></svg>") 16 0, auto;
} */

a:link{
    text-decoration: underline ;
    color: inherit;
}

a:visited{
    display: inline-block;
    color: inherit;
}

a:hover{
    color:#1b0fd7;
    text-decoration: dotted underline;
    /* font-family: "DinamoABCWhyte-Heavy"; */
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' style='fill:black;font-size:30px;'><text y='50%'>🔗</text></svg>") 16 0, auto;
}
  
a:active{
    color: #ff3000;
}

.things{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.box{
    padding: 0;
}

.box p{
    font-family: "DinamoABCWhyte-Light";
}

.box ul{
    font-family: "DinamoABCWhyte-Light";
}

/* iframe{
    opacity: 0;
} */

iframe:hover{
    opacity: 1;
}

@media (max-width: 800px){
    .things{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .navigation{
        display: none;
    }
    .mobile-menu{
        opacity: 1;
        display: block;
    }
}